
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;300;400&display=swap');


body {
    margin: 0;
    background-color: #eef4fa;
}



#body2 {
    margin: 14px;
}
#raw1 {
    padding: 14px 0 0 7px;
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    gap: 45px;
    background-color: #32aeb1;
    align-items: center;
}
#raw1 a {
    text-decoration: none;
    font-size: 15px;
    word-spacing: 1.4px;
    color: #ffffff;
    letter-spacing: 0.5px;
}
#raw1 > img {
    width: 100%;
    margin-left: -100px;
}
#insideRaw1 {
    display: flex;
    padding: 14px;
    /* border: 1px solid; */
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    border-radius: 6px;
}
#pincode {
    border: none;
    width: 150px;
    /* border: 1px solid; */
}
#searchtab {
    border: none;
    width: 399px;
}

#logo1 {
    width: 11%;
}

/* ------------mega menu------------- */

#raw2 {
    display: flex;
    background-color: #32aeb1;
    justify-content: center;
    gap: 90px;
    /* border: 1px solid; */

}
.menu {

  gap: 63px;
}

.navbar {
    display: flex;
    gap: 9px;
    align-items: center;
}
.navbar > i {
    color: #d3f1ea;
}
.navbar p {
    color: #d3f1ea;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 500;
}


/* -----------raw3------------- */

 .btn-group {
  display: flex;
  padding-top: 14px;
  padding-left: 15%;
  padding-bottom: 18px;
  margin-bottom: 27px;
  /* margin-top: 10px; */
  gap: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  background-color: #ffffff;
}
.btn-group a {

  gap: 4px;
  text-decoration: none;
  color: #333333;
  border: none;
  background-color: #ffffff;
}
.btn-group > button :hover {
  cursor: pointer;
}

 /* -----------animation---------- */

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  /* border: 1px solid; */
  /* height: 80vh; */
  /* background: #222; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin-bottom: 50px; */
}
.swiper{
     width: 105%;
     height: fit-content;
     /* border: 1px solid; */
}
.swiper-slide img{
  width: 100%;
  /* height: 81vh; */

}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: aliceblue;
}
.swiper .swiper-pagination-bullet-active{
  background: #fff;
}
  
  /* --------------------------------------- */
  /* ---------Hamberg-------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

h2 {
  text-align: center;
}
.logo{
  text-shadow: 2px 2px 4px #000000;
  color:white;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
/* background-image: linear-gradient(to right, #9E768F , #9FA4C4); */
  background-color: #32aeb1;
  color: #3D0E61;
  height: 65px;
  padding: 1em;
  font-weight:bolder;
  font-size:25px;
}

.menu li:hover{
  color:white;
  cursor:pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
/*Container for menu button  */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

/*  Creating the menu button */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 6px;
  width: 32px;
  border-radius: 3px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

/*  Adding Functionality to the Hamburger Menu with CSS  */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
/*  transforms the hamburger icon into a cross  */
  transform: rotate(-45deg);
}

/* Making the navbar responsive by CSS Media Queries */
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 125px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #menu-toggle:checked ~ .menu li {
    /* border: 1px solid #9f9a9a; */
    height: 2.5em;
    padding: 0.5em;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: #32aeb1;
    
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
 
  }
  #pincode {
    display: none;
  }
  #raw1 a {
    display: none;
  }
  #logo1 {
    display: none;
  }
  .btn-group {
    display: none;
  }
}

/* ---------raw4------------ */

#raw4 {
  display: flex;
  justify-content:space-between;
  /* border: 1px solid; */
}
#raw4 img {
  width: 14%;
}
.raw4div > div {
  /* border: 1px solid; */
  
}
.raw4div > div h3{
  /* border: 1px solid; */
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}
.raw4div > div p {
  /* border: 1px solid; */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #989aa7;
}
.raw4div {
  /* border: 1px solid; */
  gap: 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 9px;
}
.raw4div i{
  padding-left: 194px;
  color: #9fa2a4;
}

/* ----------------raw5---------------- */

#raw5 {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
  
  /* border: 1px solid; */
}
#raw5-1 {
  width: 15%;
  /* border: 1px solid; */
}
#raw5-1 p {
  padding-left: 9px;
  font-weight: 400;
  color: #989aa7;
}
#raw5 > i {
  padding-left: 135px;
  /* border: 1px solid; */
}
#raw5inside {
  border-radius: 14px;
  background-color: #ffffff;
  margin-left: 25px;
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  /* border: 1px solid; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
}
#raw5inside img {
  width: 13%;
  /* height: 270px; */
  /* border: 1px solid; */
  border-radius: 14px;
}
#inside p {
  padding-left: 35px;
}
#inside2 {
  padding-left: 150px;
}
#raw5inside button {
  margin-left: 17px;
  margin-right: 35px;
}
#raw5inside button{
  border: none;
  border-radius: 12px;
  padding: 19px 15px 19px 15px; 
  background-color: #32aeb1;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

/* ----------------raw6--------------- */
#raw6 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 20px;
  /* border: 1px solid; */
  /* height: 270px; */
  
}
#raw6 img {
  width: 100%;

  border-radius: 9px;
}
/* ----------------raw7---------------- */
 h2{
  margin-top: 27px;
  font-weight:600;
  text-align:left ;
  font-family: 'Lato', sans-serif;
 }

 #raw7 {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
 }
 .raw7class {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 1px solid; */
  border-radius: 9px;
  background-color:#ffffff;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;     */
 }
 #raw7 img {
  width: 7%;
 }
 #raw7 h4 {
  font-weight:normal;
  font-family: 'Lato', sans-serif;
 }
 #raw7 p {
  padding-top: 10px;
  font-size: smaller;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
 }

 /* -------------------raw8------------------- */
 
 #raw8 {
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  /* border: 1px solid; */
  gap: 18px;
  /* justify-content: space-between; */
 }
 #raw8 > div {
  text-align: center;
 }
 #raw8 img {
  width: 100%;
 }
 #raw8 > div {
  /* width:50%; */
  padding: 54px;
  /* border: 1px solid; */
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
 }
 #raw8 p {
  font-weight:550;
 }

 /* -------------raw9------------ */
 
 #raw9 {
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  /* border: 1px solid; */
  gap: 18px;
  /* justify-content: space-between; */
 }
 #raw9 > div {
  text-align: center;
 }
 #raw9 img {
  width: 100%;
 }
 #raw9 > div {
  /* width:50%; */
  padding: 54px;
  /* border: 1px solid; */
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
 }
 #raw9 > div p{
  font-family: 'Lato', sans-serif;
  font-weight:550;
 }
 #raw9 > div p ~ p {
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #80ae59;
 }

 /* -------------------raw10------------------ */

 #raw10 {
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  /* border: 1px solid; */
  gap: 18px;
  /* justify-content: space-between; */
 }
 #raw10 > div {
  text-align: center;
 }
 #raw10 img {
  width: 50%;
 }
 #raw10 > div {
  /* width:50%; */
  padding: 54px;
  padding-top: 63px;
  /* border: 1px solid; */
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding-bottom: 79px;
 }
 #raw10 > div p{
  /* border: 1px solid; */
  font-weight:550;
  margin-top: 35px;
  font-family: 'Lato', sans-serif;
 }

 /* ----------------raw11---------------- */

 #raw11 {
  background-color: #ffffff;
  margin: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 9px;
 }  
 #raw11 > h5 {
  font-size: 13px;
  font-weight: 550;
  color: #77748e;
  font-family: 'Lato', sans-serif;
 }
 #raw11 > h5 + p {
  /* border: 1px solid; */
  font-size: 23px;
  font-family: 'Lato', sans-serif;
 }
 #raw11 > h5 + p + P {
  color: #77748e;
  padding-top: 5px;
  /* border: 1px solid; */
  font-size: small;
  font-family: 'Lato', sans-serif;
 }
 #raw11block {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  /* border: 1px solid; */
  gap: 23px;
  padding: 14px 35px 20px 35px;
  /* justify-content: center; */
 }
 .raw11class {
 
    /* width:50%; */
    padding: 18px;
    padding-top: 18px;
    /* border: 1px solid; */
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding-bottom: 18px;

 }
.raw11class h4 + p {
  /* border: 1px solid; */
  font-size: small;
  font-style: italic;
  color: #989aa7;
}
.raw11class h4 + p span {
  color: #f15f95;
}
 #raw11block .btn {
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  padding: 3px 5px 3px 5px;
  border: none;
  color: #ffffff;
  background-color: #84be52;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  font-size: x-small;
 }
 #raw11block .btn:hover {
  cursor: pointer;
 }
 #raw11block .btn2 {
  margin-top: 10px;
  padding: 9px 58px 9px 58px;
  background-color: #24aeb1;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Lato', sans-serif;
  font-weight: 650;
 }
 #raw11block .btn2:hover {
  cursor: pointer;
 }
 #raw11block img {
  padding-bottom: 5px;
  justify-content: center;
  padding-left: 30px;
 }
 
 /* ------------------------------------------- */

 /* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* --------------Swiper sliding------------- */

.swiper-container {
  position: relative; /* Added positioning to establish a positioning context */
  width: 100%;
  height: 300px;
  padding-left: 230px;
}

.swiper-wrapper {
  display: flex; /* Added flexbox to center navigation */
  /* align-items: center; Center items vertically */
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f7f7f7;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  cursor: pointer;
}

.swiper-button-prev {
  left: 50px; /* Adjusted positioning */
  transform: translateX(-50%); /* Center horizontally */
}

.swiper-button-next {
  right: 50px; /* Adjusted positioning */
  transform: translateX(50%); /* Center horizontally */
}

/* -------------raw 12------------ */

#raw12 {
  width: 100%;
}


.stripe {
  height: 500px;
  width: 150vw;
  top: 350px;
  margin-left: -30vw;
  position: absolute;
  background-color: #4775de;
  transform: rotate(6.2deg);
  z-index: -1;
}