body {
    margin: 0;
    background-color: #f3f7fb;
}

#body2 {
    margin: 14px;
}
#raw1 {
    padding: 14px;
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    gap: 45px;
    background-color: #32aeb1;
    align-items: center;
}
#raw1 a {
    text-decoration: none;
    font-size: 15px;
    word-spacing: 1.4px;
    color: #ffffff;
    letter-spacing: 0.5px;
}
#raw1 > img {
    width: 100%;
    margin-left: -100px;
}
#insideRaw1 {
    display: flex;
    padding: 14px;
    /* border: 1px solid; */
    background-color: #ffffff;
    border-radius: 6px;
}
#pincode {
    border: none;
    width: 150px;
    /* border: 1px solid; */
}
#searchtab {
    border: none;
    width: 399px;
}

#logo1 {
    width: 11%;
}

/* ------------mega menu------------- */

#raw2 {
    display: flex;
    background-color: #32aeb1;
    justify-content: center;
    gap: 90px;
    /* border: 1px solid; */

}

.navbar {
    display: flex;
    gap: 9px;
    align-items: center;
}
.navbar > i {
    color: #d3f1ea;
}
.navbar p {
    color: #d3f1ea;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}


/* -----------raw3------------- */
 .btn-group {
    
    padding-top: 9px;
    padding-left: 15%;
    margin-bottom: 23px;
 }
 .btn-group > button {
    color: #333333;
    border: none;
    background-color: #f3f7fb;
 }
 .btn-group > button :hover {
    cursor: pointer;
 }

 /* -----------animation---------- */

 /* Product Sliding Start */
 .slider {
    width: 100%;
    /* height: 520px; */
    /* margin-bottom: 0; */
    /* border: 1px solid; */
    overflow: hidden;
    /* margin: 10px; */
    margin-top: 18px;
    
  }

  .slides {
    width: 700%;
    /* height: 350px; */
    display: flex;
    margin-right: 10px;
  }

  .slides input {
    display: none;
  }

  .slide {
    width: 14.28%;
    transition: 0.36s;
  }

  .slide img {
    width: 100%;
  }

  .slide img:hover {
    cursor: pointer;
  }

  #radio1:checked ~ #MakeItSlide {
    margin-left: 0;
  }

  #radio2:checked ~ #MakeItSlide {
    margin-left: -14.28%;
  }

  #radio3:checked ~ #MakeItSlide {
    margin-left: -28.56%;
  }

  #radio4:checked ~ #MakeItSlide {
    margin-left: -42.84%;
  }

  #raw4 {
    display: flex;
    margin-top: 20px;
    border: 1px solid;
  }

  .raw4div {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid;
  } 